.navbar-container{
    width:100%;
    height: 100%;
    background-color: #18191D;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25% 0 2.5%;

    .navbar-left{
        width:45% !important;
        display: flex;
        align-items: center;
        .logoimg{
            width: 200px;
            height:80px;
            margin-left: 30px;
        }
    } 
    .navbar-right{
        width:55% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        .menu-items{
            width: 100px;
            height: 7px;
        }
       }
       .navbar-right a{
       color:#FFFFFF;
       text-decoration: none;
       font-family: Montserrat;
       font-style: normal;
       font-weight: 500;
       font-size: 20px;
       display: flex;
       text-align: center;
       justify-content: center;
       align-items: center;
       align-content: center;
       &.active{
        font-weight: bolder;
    }
       }
       .navbar-btn{
        width: 120px;
        height: 40px;
        left: 0px;
        top: 0px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        background: #18191D;
        border: 2px solid #E5E5E5;
        .plus-img{
            height:15px;
            width:15px;
        }
       }
}

@media (max-width:1700px){
    .navbar-container{
        width:100%;
        height: 100%;
        background-color: #18191D;
        border-bottom: 1px solid #E5E5E5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25% 0 2.5%;
    
        .navbar-left{
            width:35% !important;
            display: flex;
            align-items: center;
            .logoimg{
                width: 200px;
                height:80px;
                margin-left: 30px;
            }
        } 
        .navbar-right{
            width:65% !important;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            .menu-items{
                width: 100px;
                height: 7px;
            }
           }
           .navbar-right a{
           color:#FFFFFF;
           text-decoration: none;
           font-family: Montserrat;
           font-style: normal;
           font-weight: 500;
           font-size: 20px;
           display: flex;
           text-align: center;
           justify-content: center;
           align-items: center;
           align-content: center;
           &.active{
            font-weight: bolder;
        }
           }
           .navbar-btn{
            width: 120px;
            height: 40px;
            left: 0px;
            top: 0px;
            color: #FFFFFF;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            background: #18191D;
            border: 2px solid #E5E5E5;
            .plus-img{
                height:15px;
                width:15px;
            }
           }
    }
    
}

@media (max-width:1500px){
    .navbar-container{
        width:100%;
        height: 100%;
        background-color: #18191D;
        border-bottom: 1px solid #E5E5E5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25% 0 2.5%;
    
        .navbar-left{
            width:30% !important;
            display: flex;
            align-items: center;
            .logoimg{
                width: 200px;
                height:80px;
                margin-left: 30px;
            }
        } 
        .navbar-right{
            width:70% !important;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            .menu-items{
                width: 100px;
                height: 7px;
            }
           }
           .navbar-right a{
           color:#FFFFFF;
           text-decoration: none;
           font-family: Montserrat;
           font-style: normal;
           font-weight: 500;
           font-size: 20px;
           display: flex;
           text-align: center;
           justify-content: center;
           align-items: center;
           align-content: center;
           &.active{
            font-weight: bolder;
        }
           }
           .navbar-btn{
            width: 120px;
            height: 40px;
            left: 0px;
            top: 0px;
            color: #FFFFFF;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            background: #18191D;
            border: 2px solid #E5E5E5;
            .plus-img{
                height:15px;
                width:15px;
            }
           }
    }
    
}