.main-navbar{
    width: 100%;
    height: 10%;
}
.dashboard-container{
    width:100%;
    height:90vh;
    display:flex;
    .leftside-container{
        width: 20%;
         height:100%;
     }
     .rightside-container{
         width: 80%;
         height:100%;
         .headsec-div{
            width: 70%;
            height:40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding-left: 10%;
            // align-items: center;
            .heading{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 49px;
                display: flex;
                align-items: center;
                color: #222222;
           }
           .description{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 35px;
            display: flex;
            align-items: center;
            color: #222222;
           }
         }
         .forms-div{
            width: 70%;
            height:50%; 
            padding-left: 10%;
            .form-step1{
                width: 100%;
                height:50%; 
                display: flex;
                flex-direction: column;
                .step1-label{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    color: #222222;
                }
                .step1-input{
                    width: 100%;
                    height: 85px;
                    background: #FFFFFF;
                    border: 0.5px solid #EAEDF3;
                    font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        box-sizing: border-box;
                        font-size: 20px;
                        line-height: 40px;
                        padding: 40px;
                    margin: 0;
                }
                ::placeholder{
                    color: rgba(24, 25, 29, 0.5);
                }
               
            }
            .form-step2{
                width: 100%;
                height:50%; 
                display: flex;
                flex-direction: column;
                .step2-label{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    color: #222222;
                }
                .step2-input-container{
                    width: 100%;
                    height: 85px;
                    background: #FFFFFF;
                    border: 0.5px solid #EAEDF3;
                    position: relative;
                    font-family: Montserrat;
                    box-sizing: border-box;
                    font-style: normal;
                    font-weight: normal;
                    padding-left: 80px;
                    font-size: 30px;
                    margin: 0;
                    cursor: pointer;
                }
                input[type="file"] {
                    // display: none;
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                }
                .step2-label2{
                       font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        box-sizing: border-box;
                        font-size: 18.5px;
                        line-height: 85px;
                        color: rgba(24, 25, 29, 0.5);
                }
                .user-icon{
                    width: 39px;
                    height: 39px;
                    position: absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    padding:25px 0 0 25px;
                }
                .icon-background{
                    position: absolute;
                    background-color: #E5E5E5;
                    top:0;
                    right:0;
                    bottom:0;
                    padding:80px 100px 0 0;
                }
                    .submitbtn-icon{
                        position: absolute;
                        top:20px;
                        right:0;
                        bottom:0;
                        padding:10px 40px 0 0;
                        float: right;
                   }
            }
         }
     }
}
.loading-cont{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column; 
    justify-content:center; 
    align-items: center;
    align-content: center;
    background-color:"red";
}