.loginContainer{
    width: 100%;
    height:90vh;
    display: flex; 
    align-content: center;
    justify-content: center;
    align-items: center;
    .input-content{
        width:80%;
        height:100%;    
        display: flex; 
        align-items: center;
        margin:7% auto 0 8%;
        font-family: Montserrat;
        .input{
            width:100%;
            height: 15%; 
            border: none;
            border-style: none;
            background: transparent;
            outline: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 100px;
            font-stretch: ultra-expanded;
            line-height: 60px; 
        }
        ::placeholder {
            color: rgba(24, 25, 29, 0.15); 
            font-family: Montserrat;
          }
        .input:focus {
            color: rgba(24, 25, 29, 0.15);
            font-family: Montserrat;
        }
        input:focus::placeholder{
            color:rgba(24, 25, 29, 0.15); 
        }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
   
    
    .Extra-content{
        width:20%;
        height:100%; 
    }
}
.loading-cont{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column; 
    justify-content:center; 
    align-items: center;
    align-content: center;
    background-color:"red";
}


//   mobile view

@media (max-width: 768px){
    .loginContainer{
        width: 100%;
        height:90vh;
        display: flex; 
        align-content: center;
        justify-content: center;
        align-items: center;
        .input-content{
            width:80%;
            height:100%;    
            display: flex; 
            align-items: center;
            margin:0 auto 0 8%;
            font-family: Montserrat;
            .input{
                width:100%;
                height: 5%; 
                border: none;
                border-style: none;
                background: transparent;
                outline: none;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                font-stretch: ultra-expanded;
                line-height: 15px; 
            }
        }
    }
}