.home{
    width:100%;
    min-height:100vh;
    overflow: auto;
}
.home-section1{
    width: 100%;
    height:100vh;
}
.banner1{
    width:100%;
    height: 100%;
    display: flex;
    background-color: #FFFFFF;
    color : #18191D;
    position:relative;
   
}
.banner1-left{
    width:60%;
}
.banner1-left-p1{
padding-top: 19%;
padding-left:300px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 35px;
display: flex;
align-items: center;
color: #18191D;

}
.banner1-left-p2{
margin-top: -30px;
padding-left:300px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 70px;
display: flex;
align-items: center;
color: #18191D;
}
.banner1-right{
    width:45%;
}
.banner1-right-p1{
    margin:0;
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    padding-top: 9%;
    font-size: 20px;
    width:55%;
    font-weight: bold;
}
.banner1-right-form{
    width: 90%;
    padding-top:10px;
}
.banner1-right-input{
    width:65%;
    height:40px;
    margin-top:15px;
   
}
.banner1-right-p2{
    font-size:12px;
    font-family: Montserrat;
    margin-top:20px;
    font-weight: 400;
}
.banner1-right-p2-span{
    text-decoration: underline;
    font-family: Montserrat;
}

.checkbox-text{
    font-size:12px;
    font-weight: 400;
}
.banner1-right-button{
    width:60%;
    height:45px;
    margin-top:10px;
    font-family: Montserrat;
    background-color:#f0483e;
    color:#ffff;
    font-weight: bolder;
}
.bannerright-p{
    font-size:15px;
    font-family: Montserrat;
    margin-top:15px;
    padding-left:100px;
    font-weight: 400;
}
.gimg{
    height:30px;
    width:30px;
    margin-left: 15px;
}
.banner2{
    width:100%;
    height:100vh;
    position:relative;
} 
.banner2-img{
    position: absolute;
    width: 70%;
    height:100%;
    margin-left:260px;
    /* top:-235px; */
    left: 0;
    background-image: linear-gradient(to bottom, rgb(26, 31, 40) 29%,transparent 0%);
}
.banner3{
    width:100%;
    height:100vh;
    display: flex;
    margin-top:50px;
} 

.banner3-left{
    width:50%;
    height:100%;
    margin-top:150px;
    
}

.label-banner3-left{
    background-color: #39c5ea;
    color:#fff;
    letter-spacing: 5px;
    font-family: Montserrat;
    padding :5px;
    padding-left:20px;
    font-weight: 400;
    padding-right:20px;
    margin-left: 200px;
    border-radius: 5px;
}

.h-banner3-left{
    margin-left: 200px;
    width: 75%;
}
.p-banner3-left{
    margin-left:200px;
    font-family: Montserrat;
    font-size:23px;

}
.p1-banner3-left{
    margin-left:200px;
    font-family: Montserrat;
    font-size:20px;
    font-weight: bold;
    color:#39c5ea;
}
.banner3-right{
    width:50%;
    height:100%;
}
.banner3-img{
    width:80%;
    height:80%;
}
.banner4{
    width:100%;
    height:100vh;
    display: flex;
} 

.banner4-right{
    width:50%;
    height:100%;
    
}

.label-banner4-right{
    background-color: #02c47f;
    color:#fff;
    letter-spacing: 5px;
    padding :5px;
    padding-left:20px;
    font-weight: 400;
    padding-right:20px;
    margin-left: 40px;
    border-radius: 5px;
    font-family: Montserrat;
}

.h-banner4-right{
    margin-left: 40px;
    font-family: Montserrat;
    width: 75%;
}
.p-banner4-right{
    margin-left:40px;
    margin-right: 200px;
    font-family: Montserrat;
    font-size:23px;

}
.p1-banner4-right{
    margin-left:40px;
    font-size:20px;
    font-weight: bold;
    font-family: Montserrat;
    color:#39c5ea;
}
.banner4-left{
    width:50%;
    height:100%;
}
.banner4-img{
    width:80%;
    margin-top:-150px;
    height:80%;
    margin-left:200px;
}
.banner5{
    width:100%;
    height:100vh;
    display: flex;
    margin-top:-100px;
} 

.banner5-left{
    width:50%;
    height:100%;
    
}

.label-banner5-left{
    background-color: #fcb12d;
    color:#fff;
    letter-spacing: 5px;
    font-family: Montserrat;
    padding :5px;
    padding-left:20px;
    font-weight: 400;
    font-family: Montserrat;
    padding-right:20px;
    margin-left: 200px;
    border-radius: 5px;
}

.h-banner5-left{
    margin-left: 200px;
    width: 75%;
    font-family: Montserrat;
}
.p-banner5-left{
    margin-left:200px;
    font-size:23px;
    font-family: Montserrat;

}
.p1-banner5-left{
    margin-left:200px;
    font-size:20px;
    font-weight: bold;
    color:#39c5ea;
    font-family: Montserrat;
}
.banner5-right{
    width:50%;
    height:100%;
}
.banner5-img{
    width:80%;
    margin-top:-150px;
    height:80%;
}
.banner6{
    width:100%;
    height:100vh;
    display: flex;
    margin-top:-200px;
} 

.banner6-right{
    width:50%;
    height:100%;
   
}

.label-banner6-right{
    background-color: #f0483d;
    color:#fff;
    letter-spacing: 5px;
    font-family: Montserrat;
    padding :5px;
    padding-left:20px;
    font-weight: 400;
    padding-right:20px;
    margin-left: 40px;
    margin-right:200px;
    border-radius: 5px;
}

.h-banner6-right{
    margin-left: 40px;
    margin-right:200px;
    font-family: Montserrat;
    width: 75%;
}
.p-banner6-right{
    margin-left:40px;
    margin-right:200px;
    font-family: Montserrat;
    font-size:23px;

}
.p1-banner6-right{
    margin-left:40px;
    margin-right:200px;
    font-family: Montserrat;
    font-size:20px;
    font-weight: bold;
    color:#39c5ea;
}
.banner6-left{
    width:50%;
    height:100%;
}
.banner6-img{
    width:80%;
    margin-top:-150px;
    height:80%;
    margin-left:200px;
}
.banner7{
    width:100%;
  height: 100vh; 
  margin-top:-200px;
}
.banner7-one{
    width:100%;
    height: 40%;
    background-color: #fcecd9;
   
}
.h-banner7{
    width:40%;
    padding-top:40px;
    padding-left:40%;
    font-family: Montserrat;
}
.p-banner7{
    width:60%;
    padding-top:10px;
    font-size: 25px;
    font-weight: 400;
    padding-left:27%;
    font-family: Montserrat;
}

 .banner7-two{
     margin: 0;
     width:100%;
     height:70%;
     background-color: #fcecd9;
 }
 .banner7-two-cards{
    width:70%;
    padding-left: 18%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 .banner7-two-flex{
     width:180px;
     height:180px;
     border-radius:10px;
     background-color:white;
     margin:10px;
 }
 .banner7-two-img{
     width:55px;
     height:50px;
     margin-left:70px;
     margin-top:50px;
 }
 .banner7-two-text{
    /* margin-left:50px; */
   text-align: center;
   font-weight: bold;
   font-family: Montserrat;
 }

 .banner8{
    width:100%;
    height:100vh;
    display: flex;
} 

.banner8-right{
    width:50%;
    height:100%;
    margin-top:150px;  
}


.h-banner8-right{
    margin-left: 200px;
    width: 50%;
    font-family: Montserrat;
}
.p-banner8-right{
    margin-left: 200px;
    font-size:23px;
    width: 55%;
    font-family: Montserrat;
}

.banner8-left{
    width:50%;
    height:100%;
}
.banner8-vedio{
    width:80%;
    height:80%;
    margin-left:200px;
     margin-top:150px;  
}
.banner8-right-img1{
    height: 150px;
    width: 150px;
    margin-left:200px;
}
.banner8-right-img2{
    /* height: 100px; */
    width: 150px;
    top:-20px;
    margin-left:20px;
}

.banner9{
    width:100%;
    height:100vh;
    display: flex;
    margin-top:150px;
    background-color: #efeeef;
} 

.banner9-left{
    width:50%;
    height:100%;   
}

.h-banner9-left{
    margin-top:150px;
    margin-left: 150px;
    width: 75%;
    font-size: 50px;
    font-family: Montserrat;
}
.p-banner9-left{
    margin-left:150px;
    width: 75%;
    font-size:23px;
    font-family: Montserrat;

}
.p1-banner9-left{
    margin-left:150px;
    width: 75%;
    font-size:20px;
    margin-top:50px;
    font-weight: bold;
    font-family: Montserrat;
}
.p2-banner9-left{
    margin-left:150px;
    width: 75%;
    font-size:20px;
    font-family: Montserrat;
}
.banner9-right{
    width:50%;
    height:100%;
    margin-top: 150px;
    display: flex;
}
.banner9-rightdiv1{
    width:200px;
    margin-top:70px;
}
.banner9-rightdiv2{
    width:200px;
    margin-top:20px;
}
.banner9-rightdiv3{
    width:200px;
    margin-top:-60px;
}
.banner9-img{
    width:130px;
    height:130px;
    margin-bottom: 20px;
    filter: grayscale(100%);
}
.banner9-img-selected{
    width:140px;
    height:140px;
    transition: width 1s;
    transition: height 1s;
    margin-bottom: 20px;
    border: 2px solid green;
}
.banner10{
    width:100%;
    height:90vh;
    margin-top:150px;
} 
.banner10-cards{
    display: flex;
    margin-left:200px;
}

.banner10-flex1{
    width:400px;
    height:450px;
    border-radius:10px;
    background-color:#fcf6dd;
    margin:10px;
}

.banner10-flex2{
    width:400px;
    height:450px;
    border-radius:10px;
    background-color:#e1f5fc;
    margin:10px;
}
.banner10-flex3{
    width:400px;
    height:450px;
    border-radius:10px;
    background-color:#e1f6e9;
    margin:10px;
}
.banner10-img{
    width:60px;
    height:60px;
    margin-left: 170px;
    margin-top:70px;
}
.banner10-heading{
    width:180px;
    text-align: center;
    margin-left:110px;
    font-family: Montserrat;
}
.banner10-p{
    font-size: 20px;
    font-weight: 400;
    padding-top:5px;
    margin-left:60px;
    text-align:center;
    width:300px;
    font-family: Montserrat;
}
.banner10-p1{
    font-size: 20px;
    margin-left:140px;
    font-weight: bold;
    font-family: Montserrat;
}
.banner11{
    width:100%;
    height:50vh;
    margin-top:-100px;
    font-family: Montserrat;
}
.banner11-p{
    font-size: 25px;
    font-weight:400;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    font-family: Montserrat;
}
.banner11-flex{
    margin-top: 100px;
    margin-left:400px;
    display: flex;
}
.banner11-img{
    width:250px;
    height:150px;
    margin-right: 50px;
    /* background-color: red; */
}
.banner11-img2{
    width:250px;
    height:100px;
    margin-top:20px;
    margin-right: 50px;
}
.banner11-img3{
    width:150px;
    height:100px;
    margin-top:20px;
    margin-right: 50px;
}
.banner11-img4{
    width:100px;
    height:100px;
    margin-top:20px;
    margin-right: 50px;
}

.banner12{
    width: 100%;
    height:15vh;
    top:-100px;
    display: flex;
    justify-content: center;
}
.banner12-img{
    width:800px;

}
.banner13{
    width: 100%;
    height:30vh;
    margin-top:-20px;
    background-color: #1a1a25;
}
.banner13-h{
    color:#ffff;
    padding-top:90px;
    text-align: center;
    font-family: Montserrat;
}
.banner13-btn{
    height:50px;
    width:250px;
    background-color: #f0483e;
    color:#ffff;
   margin-left: 730px;
   font-family: Montserrat;
}

@media (max-width: 1500px) {
        .banner1{
            width:100%;
            height: 100%;
            display: flex;
            background-color: #FFFFFF;
            color : #18191D;
            position:relative;
           
        }
        .banner1-left-p1{
            padding-top: 10%;
            padding-left:250px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            display: flex;
            align-items: center;
            color: #18191D;
        }
        .banner1-left-p2{
            margin-top: -30px;
            padding-left: 230px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 70px;
            display: flex;
            align-items: center;
            color: #18191D;
        }
        .banner1-right-p1{
            margin:0;
            display: flex;
            justify-content: center;
            font-family: Montserrat;
            padding-top: 1px;
            font-size: 20px;
            width:55%;
            font-weight: bold;
        }
        .banner1-right-form{
            width: 80%;
            padding-top:10px;
        }
        .banner1-right-input{
            width:65%;
            height:25px;
            margin-top:10px;
        }
        .banner1-right-p2{
            font-size:12px;
            margin-top:20px;
            font-family: Montserrat;
            font-weight: 400;
        }
        .banner1-right-button{
            width:53%;
            height:30px;
            margin-top:10px;
            background-color:#f0483e;
            color:#ffff;
            font-family: Montserrat;
            font-weight: bolder;
        }
        .gimg{
            height:25px;
            width:25px;
            margin-left: 5px;
        }
        .banner2-img{
            position: absolute;
            width: 70%;
            height:100%;
            margin-left:210px;
            /* top:-235px; */
            left: 0;
            background-image: linear-gradient(to bottom, rgb(26, 31, 40) 29%,transparent 0%);
        }

.label-banner3-left{
    background-color: #39c5ea;
    color:#fff;
    letter-spacing: 5px;
    padding :5px;
    padding-left:20px;
    font-weight: 400;
    font-family: Montserrat;
    padding-right:20px;
    margin-left: 100px;
    border-radius: 5px;
}

.h-banner3-left{
    margin-left: 100px;
    font-family: Montserrat;
    width: 75%;
}
.p-banner3-left{
    margin-left:100px;
    font-family: Montserrat;
    font-size:23px;

}
.p1-banner3-left{
    margin-left:100px;
    font-family: Montserrat;
    font-size:20px;
    font-weight: bold;
    color:#39c5ea;
}
.banner3-right{
    width:50%;
    height:100%;
}
.banner3-img{
    width:90%;
    height:90%;
}


.p-banner4-right{
    margin-left:40px;
    margin-right: 100px;
    font-size:23px;
    font-family: Montserrat;

}
.banner4-img{
    width:90%;
    margin-top:-150px;
    height:90%;
    margin-left:100px;
}
.label-banner5-left{
    background-color: #fcb12d;
    color:#fff;
    letter-spacing: 5px;
    padding :5px;
    padding-left:20px;
    font-weight: 400;
    padding-right:20px;
    margin-left: 100px;
    border-radius: 5px;
    font-family: Montserrat;
}

.h-banner5-left{
    margin-left: 100px;
    width: 75%;
    font-family: Montserrat;
}
.p-banner5-left{
    margin-left:100px;
    font-size:23px;
    font-family: Montserrat;

}
.p1-banner5-left{
    margin-left:100px;
    font-size:20px;
    font-weight: bold;
    color:#39c5ea;
    font-family: Montserrat;
}

.banner5-img{
    width:90%;
    margin-top:-150px;
    height:90%;
}
.label-banner6-right{
    background-color: #f0483d;
    color:#fff;
    letter-spacing: 5px;
    padding :5px;
    padding-left:20px;
    font-weight: 400;
    padding-right:20px;
    margin-left: 40px;
    margin-right:100px;
    border-radius: 5px;
    font-family: Montserrat;
}

.h-banner6-right{
    margin-left: 40px;
    margin-right:100px;
    width: 75%;
    font-family: Montserrat;
}
.p-banner6-right{
    margin-left:40px;
    margin-right:100px;
    font-size:23px;
    font-family: Montserrat;
}
.p1-banner6-right{
    margin-left:40px;
    margin-right:100px;
    font-size:20px;
    font-weight: bold;
    color:#39c5ea;
    font-family: Montserrat;
}

.banner6-img{
    width:80%;
    margin-top:-50px;
    height:80%;
    margin-left:100px;
}
        .h-banner7{
            width:40%;
            padding-top:40px;
            padding-left:36%;
            font-family: Montserrat;
        }
        .p-banner7{
            width:60%;
            padding-top:10px;
            font-size: 20px;
            font-weight: 400;
            padding-left:26%;
            font-family: Montserrat;
        }
        .banner7-two-flex{
            width:150px;
            height:150px;
            border-radius:10px;
            background-color:white;
            margin:10px;
        }
        .banner7-two-img{
            width:45px;
            height:40px;
            margin-left:50px;
            margin-top:30px;
        }
        .h-banner8-right{
            margin-left: 100px;
            width: 50%;
        }
        .p-banner8-right{
            margin-left: 100px;
            font-size:23px;
            width: 55%;
        }
        
        .banner8-left{
            width:50%;
            height:100%;
        }
        .banner8-vedio{
            width:90%;
            height:90%;
            margin-top:100px;
            margin-left:100px;
        }
        .banner8-right-img1{
            height: 150px;
            width: 150px;
            margin-left:100px;
        }
        .banner10-cards{
            display: flex;
            margin-left:120px;
        }
        
        .banner10-flex1{
            width:350px;
            height:420px;
            border-radius:10px;
            background-color:#fcf6dd;
            margin:10px;
        }
        
        .banner10-flex2{
            width:350px;
            height:420px;
            border-radius:10px;
            background-color:#e1f5fc;
            margin:10px;
        }
        .banner10-flex3{
            width:350px;
            height:420px;
            border-radius:10px;
            background-color:#e1f6e9;
            margin:10px;
        }
        .banner10-img{
            width:50px;
            height:50px;
            margin-left: 150px;
            margin-top:50px;
        }
        .banner10-heading{
            width:160px;
            text-align: center;
            margin-left:90px;
        }
        .banner10-p{
            font-size: 20px;
            font-weight: 400;
            padding-top:5px;
            margin-left:35px;
            text-align:center;
            width:300px;
            font-family: Montserrat;
        
        }
        .banner10-p1{
            font-size: 20px;
            margin-left:110px;
            font-weight: bold;
            font-family: Montserrat;
        }
        .banner11-p{
            font-size: 25px;
            font-weight:400;
            text-align: center;
            text-decoration: underline;
            text-underline-position: under;
            font-family: Montserrat;
        }
        .banner11-flex{
            margin-top: 100px;
            margin-left:200px;
            display: flex;
        }
       
        .banner13{
            width: 100%;
            height:40vh;
            margin-top:-20px;
            background-color: #1a1a25;
        }
        .banner13-h{
            color:#ffff;
            padding-top:90px;
            text-align: center;
            font-family: Montserrat;
        }
        .banner13-btn{
            height:50px;
            width:250px;
            background-color: #f0483e;
            color:#ffff;
           margin-left: 550px;
           font-family: Montserrat;
        }
  }