.container{
    width:100%;
    height:100vh;
    display: flex;
    border: 1px solid #EAEDF3; 
    .sidebar{
        width:100%;
        height:100vh;
        font-family: Montserrat;
        .heading-sec{
            height:10%;
            width: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            .heading{
                width: 50%;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #222222;
            }
       .newbtn{
        width: 34px;
        height: 34px;
        background: #18191D;
        border-radius: 6px;
       }
       .plus-img{
        height:15px;
        width:15px;
        margin-top:5px;
       }
        }
        .dropdown{
            height:10%;
            width: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            padding-left:2px;
            .dropdown-left{
                width: 60%;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #222222;
                opacity: 0.4;
            }
            .dropdown-right{
                color: #222222;
                opacity: 0.4;
            }
        }
        .drpdwn-itms{
            height:80%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            overflow: visible;
            padding-left:12px;
            .itm-one{
                width: 70%;
                height: 24%;
                background: #FFFFFF;
                box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
                border-radius: 8px;
                border-left: 2px solid #3760A2;
                .card-top1{
                    width: 100%;
                   height: 35%;
                   display: flex;
                  .top-left1{
                   width:50%;
                   height: 100%;
                   display: flex;
                   align-items: center;
                   align-content: center;
                   justify-content: center;
                   .tagline1{
                    width: 48px;
                    height: 18px;
                    padding: 0 5px 0 5px;
                    background: rgba(55, 96, 162, 0.1);
                    border-radius: 6px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    color: #3760A2;

                   }
                  }
                  .top-middle1{
                    width:20%;
                    height: 100%;
                   }
                  .top-right1{
                    width:30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    .dotoneimg1{
                        padding: 5px;
                    }
                  }
                }
                .card-middle1{
                    width: 95%;
                    height: 35%;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    align-items: center;
                    justify-content: center;
                    .card-middle-head1{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #222222;
                        margin-top:-10px;
                    }
                    .card-middle-txt1{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 13px;
                        color: #222222;
                        opacity: 0.5;
                        margin-top: -5px;
                    }
                }

                .card-bottom1{
                    width: 100%;
                    height: 25%;
                    display: flex;
                    .bottom-left1{
                        width:45%;
                        height: 100%;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        .bottom-img1one-div{
                            width:20%;
                            height: 100%;
                        .bottom-img1one{
                            width: 40px;
                            height: 40px;
                            background-image: url("https://img.freepik.com/free-photo/concentrated-young-businessman-analyzing-documents-while-traveling_171337-16185.jpg?size=626&ext=jpg&ga=GA1.2.1810100109.1595283660");
                           border-radius: 50%;
                           background-position: center;
                           background-repeat: no-repeat;
                           background-size: cover;
                           position: absolute;
                        }
                    }
                    .bottom-img2one-div{
                        width:20%;
                        height: 100%;
                        .bottom-img2one{
                            width: 40px;
                            height: 40px;
                            background-image: url("https://image.freepik.com/free-photo/portrait-student-with-hair-bun-wears-denim-rounded-glasses-holding-colored-paper-folders_176532-10393.jpg");
                            border-radius: 50%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    }
                    // .bottom-middle1{
                    //     width:15%;
                    //     height: 100%;
                    // }
                    .bottom-right1{
                        width:55%;
                        height: 100%;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                        opacity: 0.4;
                        .bottom-img3one{
                            height:18px;
                            width:18px; 
                        }
                        .bottom-img4one{
                            height:25px;
                             width:25px; 
                        }
                    }
                }
            }
            .itm-two{
                width: 70%;
                height: 24%;
                background: #031A6E;
                box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
                border-radius: 8px;
                margin-top: 25px;
                .card-top2{
                    width: 100%;
                   height: 35%;
                   display: flex;
                  .top-left2{
                   width:50%;
                   height: 100%;
                   display: flex;
                   align-items: center;
                   align-content: center;
                   justify-content: center;
                   .tagline2{
                    width: 78px;
                    height: 18px;
                    padding: 0 5px 0 5px;
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 6px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    color: #FFFFFF;

                   }
                  }
                  .top-middle2{
                    width:20%;
                    height: 100%;
                   }
                  .top-right2{
                    width:30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    .dotoneimg2{
                        padding: 5px;
                    }
                  }
                }
                .card-middle2{
                    width: 95%;
                    height: 35%;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    align-items: center;
                    justify-content: center;
                    .card-middle-head2{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #FFFFFF;
                        margin-top:-10px;
                    }
                    .card-middle-txt2{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 13px;
                        color: #FFFFFF;
                        opacity: 0.5;
                        margin-top: -5px;
                    }
                }

                .card-bottom2{
                    width: 100%;
                    height: 25%;
                    display: flex;
                    .bottom-left2{
                        width:45%;
                        height: 100%;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        .bottom-img1two-div{
                            width:15%;
                            height: 100%;
                        .bottom-img1two{
                            width: 40px;
                            height: 40px;
                            background-image: url("https://img.freepik.com/free-photo/concentrated-young-businessman-analyzing-documents-while-traveling_171337-16185.jpg?size=626&ext=jpg&ga=GA1.2.1810100109.1595283660");
                           border-radius: 50%;
                           background-position: center;
                           background-repeat: no-repeat;
                           background-size: cover;
                           position: absolute;
                        }
                    }
                      .bottom-img2two-div{
                        width:15%;
                        height: 100%;
                        .bottom-img2two{
                            width: 40px;
                            height: 40px;
                            background-image: url("https://image.freepik.com/free-photo/portrait-student-with-hair-bun-wears-denim-rounded-glasses-holding-colored-paper-folders_176532-10393.jpg");
                            border-radius: 50%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            position: relative;
                        }
                    }
                    .bottom-img3two-div{
                        width:15%;
                        height: 100%;
                        .bottom-img3two{
                            width: 40px;
                            height: 40px;
                            background-image: url("https://img.freepik.com/free-photo/concentrated-young-businessman-analyzing-documents-while-traveling_171337-16185.jpg?size=626&ext=jpg&ga=GA1.2.1810100109.1595283660");
                            border-radius: 50%;
                            background-position: center;
                            position: absolute;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    }
                    .bottom-middle2{
                        width:2%;
                        height: 100%;
                    }
                    .bottom-right2{
                        width:55%;
                        height: 100%;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                        color:#FFFFFF;
                      
                        .bottom-img3two{
                            height:18px;
                            width:18px; 
                        }
                        .bottom-img4two{
                            height:25px;
                             width:25px; 
                        }
                    }
                } 
                
                

            }
            .itm-three{
                width: 70%;
                height: 24%;
                background: #FFFFFF;
                box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
                border-radius: 8px;
                margin-top: 25px; 
                border-left: 2px solid #2B65F0;
                .card-top3{
                    width: 100%;
                   height: 35%;
                   display: flex;
                  .top-left3{
                   width:50%;
                   height: 100%;
                   display: flex;
                   align-items: center;
                   align-content: center;
                   justify-content: center;
                   .tagline3{
                    width: 78px;
                    height: 18px;
                    padding: 0 5px 0 5px;
                    background: rgba(43, 101, 240, 0.1);
                    border-radius: 6px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    color: #2B65F0;

                   }
                  }
                  .top-middle3{
                    width:20%;
                    height: 100%;
                   }
                  .top-right3{
                    width:30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    .dotoneimg3{
                        padding: 5px;
                    }
                  }
                }
                .card-middle3{
                    width: 95%;
                    height: 35%;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    align-items: center;
                    justify-content: center;
                    .card-middle-head3{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #222222;
                        margin-top:-10px;
                    }
                    .card-middle-txt3{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 13px;
                        color: #222222;
                        opacity: 0.5;
                        margin-top: -5px;
                    }
                }

                .card-bottom3{
                    width: 100%;
                    height: 25%;
                    display: flex;
                    .bottom-left3{
                        width:45%;
                        height: 100%;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        .bottom-img1three-div{
                            width:20%;
                        height: 100%;
                        .bottom-img1three{
                            width: 40px;
                            height: 40px;
                            background-image: url("https://img.freepik.com/free-photo/concentrated-young-businessman-analyzing-documents-while-traveling_171337-16185.jpg?size=626&ext=jpg&ga=GA1.2.1810100109.1595283660");
                           border-radius: 50%;
                           background-position: center;
                           background-repeat: no-repeat;
                           background-size: cover;
                           position: absolute;
                        }
                    }
                    .bottom-img2three-div{
                        width:20%;
                        height: 100%;
                        .bottom-img2three{
                            width: 40px;
                            height: 40px;
                            background-image: url("https://image.freepik.com/free-photo/portrait-student-with-hair-bun-wears-denim-rounded-glasses-holding-colored-paper-folders_176532-10393.jpg");
                            border-radius: 50%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    }
                    .bottom-right3{
                        width:55%;
                        height: 100%;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                        opacity: 0.4;
                        .bottom-img3three{
                            height:18px;
                            width:18px; 
                        }
                        .bottom-img4three{
                            height:25px;
                             width:25px; 
                        }
                    }
                }               
            }
            .itm-four{
                width: 70%;
                height: 40%;
                background: #FFFFFF;
                box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
                border-radius: 8px;                
                margin-top: 25px;
                .card-top4{
                    width: 100%;
                   height: 35%;
                   display: flex;
                  .top-left4{
                   width:50%;
                   height: 100%;
                   display: flex;
                   align-items: center;
                   align-content: center;
                   justify-content: center;
                   .tagline4{
                    width: 78px;
                    height: 18px;
                    padding: 0 5px 0 5px;
                    background: rgba(43, 101, 240, 0.1);
                    border-radius: 6px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    color: #2B65F0;

                   }
                  }
                  .top-middle4{
                    width:20%;
                    height: 100%;
                   }
                  .top-right4{
                    width:30%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    .dotoneimg4{
                        padding: 5px;
                    }
                  }
                }
                .card-middle4{
                    width: 95%;
                    height: 35%;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    align-items: center;
                    justify-content: center;
                    .card-middle-head4{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #222222;
                        margin-top:-10px;
                    }
                    .card-middle-txt4{
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 13px;
                        color: #222222;
                        opacity: 0.5;
                        margin-top: -5px;
                    }
                }

                .card-bottom4{
                    width: 100%;
                    height: 35%;
                    display: flex;
                    .bottom-left4{
                        width:40%;
                        height: 100%;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        .bottom-img1four{
                            width: 40px;
                            height: 40px;
                            background-image: url("https://img.freepik.com/free-photo/concentrated-young-businessman-analyzing-documents-while-traveling_171337-16185.jpg?size=626&ext=jpg&ga=GA1.2.1810100109.1595283660");
                           border-radius: 50%;
                           background-position: center;
                           background-repeat: no-repeat;
                           background-size: cover;
                           position: absolute;
                        }
                        .bottom-img2four{
                            width: 40px;
                            height: 40px;
                            background-image: url("https://image.freepik.com/free-photo/portrait-student-with-hair-bun-wears-denim-rounded-glasses-holding-colored-paper-folders_176532-10393.jpg");
                            border-radius: 50%;
                            margin-left: 55px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    .bottom-middle4{
                        width:15%;
                        height: 100%;
                    }
                    .bottom-right4{
                        width:45%;
                        height: 100%;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        align-items: center;
                        opacity: 0.4;
                        .bottom-img3four{
                            height:18px;
                            width:18px; 
                        }
                        .bottom-img4four{
                            height:25px;
                             width:25px; 
                        }
                    }
                }
            }
        }
    }
    
}

@media (max-width: 1500px){
    .heading-sec{
        height:10%;
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        .heading{
            width: 60% !important;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 18px !important;
            line-height: 22px !important;
            color: #222222;
        }
   .newbtn{
    width: 30px !important;
    height: 30px !important;
    background: #18191D;
    border-radius: 6px;
   }
   .plus-img{
    height:15px;
    width:15px;
    margin-top:5px;
   }
    }
    .dropdown{
        height:10%;
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        .dropdown-left{
            width: 70%;
            font-style: normal;
            font-weight: normal;
            font-size: 12px !important;
            line-height: 14px !important;
            color: #222222;
            opacity: 0.4;
        }
        .dropdown-right{
            color: #222222;
            opacity: 0.4;
        }
    }

.itm-one{
    width: 70% !important;
    height: 22% !important;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    border-left: 2px solid #3760A2;
    .card-top1{
        width: 100%;
       height: 35%;
       display: flex;
      .top-left1{
       width:50%;
       height: 100%;
       display: flex;
       align-items: center;
       align-content: center;
       justify-content: center;
       .tagline1{
        width: 38px !important;
        height: 16px !important;
        padding: 0 5px 0 5px;
        background: rgba(55, 96, 162, 0.1);
        border-radius: 6px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px !important;
        color: #3760A2;

       }
      }
      .top-middle1{
        width:20%;
        height: 100%;
       }
      .top-right1{
        width:30%;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        .dotoneimg1{
            padding: 5px;
        }
      }
    }
    .card-middle1{
        width: 95%;
        height: 35%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        .card-middle-head1{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 12px !important;
            line-height: 15px !important;
            color: #222222;
            margin-top:-10px;
        }
        .card-middle-txt1{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 8px !important;
            line-height: 10px !important;
            color: #222222;
            opacity: 0.5;
            margin-top: -5px;
        }
    }

    .card-bottom1{
        width: 100%;
        height: 25%;
        display: flex;
        .bottom-left1{
            width:45%;
            height: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            .bottom-img1one-div{
                width:20%;
                height: 100%;
            .bottom-img1one{
                width: 30px !important;
                height: 30px !important;
                background-image: url("https://img.freepik.com/free-photo/concentrated-young-businessman-analyzing-documents-while-traveling_171337-16185.jpg?size=626&ext=jpg&ga=GA1.2.1810100109.1595283660");
               border-radius: 50%;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               position: absolute;
            }
        }
        .bottom-img2one-div{
            width:20%;
            height: 100%;
            .bottom-img2one{
                width: 30px !important;
                height: 30px !important;
                background-image: url("https://image.freepik.com/free-photo/portrait-student-with-hair-bun-wears-denim-rounded-glasses-holding-colored-paper-folders_176532-10393.jpg");
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        }
        // .bottom-middle1{
        //     width:15%;
        //     height: 100%;
        // }
        .bottom-right1{
            width:55%;
            height: 100%;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            opacity: 0.4;
            .bottom-img3one{
                height:13px !important;
                width:13px !important; 
            }
            .bottom-img4one{
                height:20px !important;
                 width:20px !important; 
            }
        }
    }
}
.itm-two{
    width: 70% !important;
    height: 22% !important;
    background: #031A6E;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 25px;
    .card-top2{
        width: 100%;
       height: 35%;
       display: flex;
      .top-left2{
       width:50%;
       height: 100%;
       display: flex;
       align-items: center;
       align-content: center;
       justify-content: center;
       .tagline2{
        width: 68px !important;
        height: 15px;
        padding: 0 5px 0 5px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px !important;
        color: #FFFFFF;

       }
      }
      .top-middle2{
        width:20%;
        height: 100%;
       }
      .top-right2{
        width:30%;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        .dotoneimg2{
            padding: 5px;
        }
      }
    }
    .card-middle2{
        width: 95%;
        height: 35%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        .card-middle-head2{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 12px !important;
            line-height: 15px !important;
            color: #FFFFFF;
            margin-top:-10px;
        }
        .card-middle-txt2{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 9px !important;
            line-height: 12px !important;
            color: #FFFFFF;
            opacity: 0.5;
            margin-top: -5px;
        }
    }

    .card-bottom2{
        width: 100%;
        height: 25%;
        display: flex;
        .bottom-left2{
            width:45%;
            height: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            .bottom-img1two-div{
                width:15%;
                height: 100%;
            .bottom-img1two{
                width: 30px !important;
                height: 30px !important;
                background-image: url("https://img.freepik.com/free-photo/concentrated-young-businessman-analyzing-documents-while-traveling_171337-16185.jpg?size=626&ext=jpg&ga=GA1.2.1810100109.1595283660");
               border-radius: 50%;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               position: absolute;
            }
        }
          .bottom-img2two-div{
            width:15%;
            height: 100%;
            .bottom-img2two{
                width: 30px !important;
                height: 30px !important;
                background-image: url("https://image.freepik.com/free-photo/portrait-student-with-hair-bun-wears-denim-rounded-glasses-holding-colored-paper-folders_176532-10393.jpg");
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
        }
        .bottom-img3two-div{
            width:15%;
            height: 100%;
            .bottom-img3two{
                width: 30px !important;
                height: 30px !important;
                background-image: url("https://img.freepik.com/free-photo/concentrated-young-businessman-analyzing-documents-while-traveling_171337-16185.jpg?size=626&ext=jpg&ga=GA1.2.1810100109.1595283660");
                border-radius: 50%;
                background-position: center;
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        }
        .bottom-middle2{
            width:2%;
            height: 100%;
        }
        .bottom-right2{
            width:55%;
            height: 100%;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            color:#FFFFFF;
          
            .bottom-img3two{
                height:13px !important;
                width:13px !important; 
            }
            .bottom-img4two{
                height:20px !important;
                 width:20px !important; 
            }
        }
    } 
    
    

}

.itm-three{
    width: 70% !important;
    height: 22% !important;
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 25px; 
    border-left: 2px solid #2B65F0;
    .card-top3{
        width: 100%;
       height: 35%;
       display: flex;
      .top-left3{
       width:50%;
       height: 100%;
       display: flex;
       align-items: center;
       align-content: center;
       justify-content: center;
       .tagline3{
        width: 68px !important;
        height: 16px !important;
        padding: 0 5px 0 5px;
        background: rgba(43, 101, 240, 0.1);
        border-radius: 6px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px !important;
        color: #2B65F0;

       }
      }
      .top-middle3{
        width:20%;
        height: 100%;
       }
      .top-right3{
        width:30%;
        height: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        .dotoneimg3{
            padding: 5px;
        }
      }
    }
    .card-middle3{
        width: 95%;
        height: 35%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        .card-middle-head3{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 11px !important;
            line-height: 15px !important;
            color: #222222;
            margin-top:-10px;
        }
        .card-middle-txt3{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 9px !important;
            line-height: 11px !important;
            color: #222222;
            opacity: 0.5;
            margin-top: -5px;
        }
    }

    .card-bottom3{
        width: 100%;
        height: 25%;
        display: flex;
        .bottom-left3{
            width:55%;
            height: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            .bottom-img1three-div{
                width:20%;
            height: 100%;
            .bottom-img1three{
                width: 30px !important;
                height: 30px !important;
                background-image: url("https://img.freepik.com/free-photo/concentrated-young-businessman-analyzing-documents-while-traveling_171337-16185.jpg?size=626&ext=jpg&ga=GA1.2.1810100109.1595283660");
               border-radius: 50%;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               position: absolute;
            }
        }
        .bottom-img2three-div{
            width:20%;
            height: 100%;
            .bottom-img2three{
                width: 30px !important;
                height: 30px !important;
                background-image: url("https://image.freepik.com/free-photo/portrait-student-with-hair-bun-wears-denim-rounded-glasses-holding-colored-paper-folders_176532-10393.jpg");
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        }
        .bottom-right3{
            width:45%;
            height: 100%;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            opacity: 0.4;
            .bottom-img3three{
                height:13px !important;
                width:13px !important; 
            }
            .bottom-img4three{
                height:20px !important;
                 width:20px !important; 
            }
        }
    }               
}
}

    