.container{
    width:100%;
    height:100vh;
    display: flex;
    border: 1px solid #EAEDF3; 
    .sidebar{
        width:100%;
        height:100vh;
        font-family: Montserrat;
        .heading-sec{
            height:10%;
            width: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            .heading{
                width: 50%;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                color: #222222;
            }
       .newbtn{
        width: 34px;
        height: 34px;
        background: #18191D;
        border-radius: 6px;
       }
       .plus-img{
        height:15px;
        width:15px;
        margin-top:5px;
       }
        }
        .dropdown{
            height:10%;
            width: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            .dropdown-left{
                width: 60%;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #222222;
                padding-left:20px;
                opacity: 0.4;
            }
            .dropdown-right{
                color: #222222;
                opacity: 0.4;
            }
        }
    }
}