
.main-navbar{
    width: 100%;
    height: 10%;
}
.home{
   width: 100%;  
    height:100vh;
    overflow: hidden;

    .home-section1{
        width: 100%;
        height:100vh;
    }
}
.banner1{
    width:100%;
    height:90%;
    display:flex;
    background: #FFFFFF;
    align-content: center;
    flex-wrap: wrap;
}
.banner1-Text{
    width:100%;
    text-align: center;
    margin-top:-5%;
    font-family: Montserrat;
    .banner1-Textone{
        font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            color: #18191D;
            margin-bottom: 0.5%;
           
    }
    .banner1-Texttwo{
        font-family: Montserrat;
            margin-top:0.5%;
            font-style: normal;
            font-weight: 600;
            font-size: 80px;
            color: #18191D;
    }
}
.banner1-Buttondiv{
    display: flex;
    align-content: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top:-1%;
    .banner1-Button{
        width: 246px;
        height: 54px;
        border: 2px solid #18191D;
        background: #FFFFFF;
        font-size: 18px;
        box-sizing: border-box;
        font-family: Montserrat;
        font-weight: bold;
        color: #18191D;
    
    }
}




//   mobile view

  @media (max-width: 768px){
    .banner1{
        width:100%;
        max-height:90vh;
        display:flex;
        background: #FFFFFF;
        align-content: center;
        flex-wrap: wrap;
        .banner1-Text{
            width:100%;
            text-align: center;
            margin-top:5%;
            font-family: Montserrat;
            .banner1-Textone{
                font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                    color: #18191D;
                    margin-bottom: 0.5%;
                   
            }
            .banner1-Texttwo{
                font-family: Montserrat;
                    margin-top:0.5%;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 50px;
                    color: #18191D;
            }
        }
        .banner1-Buttondiv{
            display: flex;
            align-content: center;
            width: 100%;
            text-align: center;
            justify-content: center;
            margin-top:40%;
            .banner1-Button{
                width: 254px;
                height: 59px;
                border: 2px solid #18191D;
                background: #FFFFFF;
                font-size: 13px;
                box-sizing: border-box;
                font-family: Montserrat;
                font-weight: bold;
                color: #18191D;
            
            }
        }
    }
   
  }