.container{
    width:100%;
    height:100vh;
    display: flex;
    .sidebarone{
        width:50%;
        height:100vh;
        border-right: 0.5px solid #E5E5E5;
        .content-items{
            display: block;
            width:100%;
            height:100vh;

    .content1{
        width:100%;
        height:22.8%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        .txt-content-none{
            display:flex;
            opacity: 0.1;
        .item-name{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: rgba(24, 25, 29, 1);
        }
    }
    .txt-content{
        display:flex;
        opacity: 0.5;  
        .item-name{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: rgba(24, 25, 29, 0.56);
        }
        
    }
}
}
}
.sidebartwo{
    width:50%;
    height:100vh;
    border-right: 1px solid #E5E5E5;
   
    .content-items{
        display: block;
        width:100%;
        height:100vh;
      .content2none{
          display: none;
      }  
.content2{
    width:100%;
    height:22.8%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
 
    .txt-content-none{
        display:flex;
        opacity: 0.1;
    .item-name{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: rgba(24, 25, 29, 1);
    }
}
.txt-content{
    display:flex;
    opacity: 0.5;  
    .item-name{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: rgba(24, 25, 29, 0.56);
    }
    
}
}
}
}
}



@media (max-width: 1500px){

    .content1{
        width:100%;
        height:22% !important;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        .txt-content-none{
            display:flex;
            opacity: 0.1;
        .item-name{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px !important;
            line-height: 22px !important;
            display: flex;
            align-items: center;
            color: rgba(24, 25, 29, 1);
        }
    }
    .txt-content{
        display:flex;
        opacity: 0.5;  
        .item-name{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px !important;
            line-height: 22px !important;
            display: flex;
            align-items: center;
            color: rgba(24, 25, 29, 0.56);
        }
        
    }
}
 
.content2{
    width:100%;
    height:22% !important;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
 
    .txt-content-none{
        display:flex;
        opacity: 0.1;
    .item-name{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px !important;
        line-height: 22px !important;
        display: flex;
        align-items: center;
        color: rgba(24, 25, 29, 1);
    }
}
.txt-content{
    display:flex;
    opacity: 0.5;  
    .item-name{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px !important;
        line-height: 22px !important;
        display: flex;
        align-items: center;
        color: rgba(24, 25, 29, 0.56);
    }
    
}
}
}

