
.main-navbar{
    width: 100%;
    height: 10%;
}

.template-secone{
    width:100%;
    height: 100vh;
    
    //   First image Styles
    .template-contentone{
        width: 100%;
        height: 100%;
        background-image: url('./images/tempimgthree.png');
        background-size: 100% 100%;
        margin:0 auto;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        
        .template-text{
            width: 60%;
            height: 20%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            font-family: Montserrat;
            font-style: normal;
            h4{
                width: 100%;
                padding: 0 15%;
                font-weight: 600;
                font-size: 30px;
                font-stretch: expanded;
                color: #FFFFFF;
                animation: lefttoright 2s ease;
            }
            .fade-in {
                animation: fadeIn ease 5s;
              }
            .template-text-bottom{
                display: flex;
                width: 100%;
                .first{
                    width: 15%;
                    height:30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .dotone{
                        width:10px;
                        height:10px;
                        background-color: #ffffff;
                        border-radius: 50%;
                        display: inline-block;
                        
                    }
                    .dottwo{
                        width:10px;
                        height:10px;
                        background-color: #ffffff;
                        border-radius: 50%;
                        display: inline-block;
                        opacity: 0.5;
                        
                    }
                    .dotthree{
                        width:10px;
                        height:10px;
                        background-color: #ffffff;
                        border-radius: 50%;
                        display: inline-block;
                        opacity: 0.5;
                        
                    }
                }
                .second{
                    height: 30%;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    h1{
                       
                        font-weight: 600;
                        font-size: 90px;
                        color:#ffffff;
                    }
                }
            
                .third{
                    width: 15%;
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                   
                   .arrowimg1{
                    animation: lefttoright 5s ease;
                   }
                   .arrowimg2{
                    animation: lefttoright 6s ease;
                   }
                   .arrowimg3{
                    animation: lefttoright 7s ease;
                   }
                }

            }
        }
    }

    // Second image styles
    .template-contenttwo{
        width: 100%;
        height: 100%;
        background-image: url('./images/tempimgone.png');
        background-size: 100% 100%;
        margin:0 auto;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        .template-text{
            width: 60%;
            height: 20%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            font-family: Montserrat;
            font-style: normal;
            h4{
                width: 100%;
                padding: 0 15%;
                font-weight: 600;
                font-size: 30px;
                font-stretch: expanded;
                color: #18191D;
                animation: left-to-right 2s ease;
            }
            .fade-in {
                animation: fade-In ease 5s;
              }
            .template-text-bottom{
                display: flex;
                width: 100%;
                .first{
                    width: 15%;
                    height:30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .dotone{
                        width:10px;
                        height:10px;
                        background-color: #18191D;
                        border-radius: 50%;
                        display: inline-block;
                        opacity: 0.5;
                        
                    }
                    .dottwo{
                        width:10px;
                        height:10px;
                        background-color: #18191D;
                        border-radius: 50%;
                        display: inline-block;   
                        
                    }
                    .dotthree{
                        width:10px;
                        height:10px;
                        background-color: #18191D;
                        border-radius: 50%;
                        display: inline-block;
                        opacity: 0.5;
                        
                    }
                }
                .second{
                    height: 30%;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    h1{
                       
                        font-weight: 600;
                        font-size: 90px;
                        color: #18191D;
                    }
                }
            
                .third{
                    width: 15%;
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                   
                   .arrowimg1{
                    animation: left-to-right 5s ease;
                   }
                   .arrowimg2{
                    animation: left-to-right 6s ease;
                   }
                   .arrowimg3{
                    animation: left-to-right 7s ease;
                   }
                }
            }
        }
    }
// Third Image styling
    .template-contentthree{
        width: 100%;
        height: 100%;
        background-image: url('./images/tempimgtwo.png');
        background-size: 100% 100%;
        margin:0 auto;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        .template-text{
            width: 60%;
            height: 20%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            font-family: Montserrat;
            font-style: normal;
            h4{
                width: 100%;
                padding: 0 15%;
                font-weight: 600;
                font-size: 30px;
                font-stretch: expanded;
                color: #FFFFFF;
                animation: left_to_right 2s ease;
            }
            .fade-in {
                animation: fade_In ease 5s;
              }
            .template-text-bottom{
                display: flex;
                width: 100%;
                .first{
                    width: 15%;
                    height:30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .dotone{
                        width:10px;
                        height:10px;
                        background-color: #ffffff;
                        border-radius: 50%;
                        display: inline-block;
                        opacity: 0.5;   
                    }
                    .dottwo{
                        width:10px;
                        height:10px;
                        background-color: #ffffff;
                        border-radius: 50%;
                        display: inline-block;
                        opacity: 0.5;
                        
                    }
                    .dotthree{
                        width:10px;
                        height:10px;
                        background-color: #ffffff;
                        border-radius: 50%;
                        display: inline-block;
      
                    }
                }
                .second{
                    height: 30%;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    h1{
                       
                        font-weight: 600;
                        font-size: 90px;
                        color:#ffffff;
                    }
                }
            
                .third{
                    width: 15%;
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                   
                   .arrowimg1{
                    animation: left_to_right 5s ease;
                   }
                   .arrowimg2{
                    animation: left_to_right 6s ease;
                   }
                   .arrowimg3{
                    animation: left_to_right 7s ease;
                   }
                }
            }
        }
    }

    @keyframes left_to_right {
        from {
          margin-left: -100%;
        }
        to {
          margin-left: 0;
        }
      }

      @keyframes lefttoright {
        from {
          margin-left: -100%;
        }
        to {
          margin-left: 0;
        }
      }
      @keyframes left-to-right {
        from {
          margin-left: -100%;
        }
        to {
          margin-left: 0;
        }
      }

      @keyframes fadeIn{
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }

      @keyframes fade-In{
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }

      @keyframes fade_In{
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
}

