@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.main-container{
    width: 100%;  
    height:100vh;
    overflow: hidden;
    // .main-navbar{
    //     width: 100%;
    //     height: 10%;
    // }
    .main-content{
        width: 100%;
        height: 90%;
    }
}