.main-navbar{
    width: 100%;
    height: 10%;
}
.dashboard-content{
    width:100%;
    height:90vh;
    display:flex;
    .leftside-container{
       width: 20%;
        height:100%;
    }
    .rightside-container{
        width: 80%;
        height:100%;
        .container{
            width:100%;
            height:100vh;
            display: block;
            .head-sec{
                width: 100%;
                height:15%;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
            
            .heading{
                width: 20%;
                height:15%;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center; 
               
                h3{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                }
            }
            .middle{
                width:30%;
                height:15%;
            }
            .head-right{
                width:50%;
                height:15%;
              display: flex;
              justify-content: center;
              margin-top:2%;
                .icon-one{
                    width:10%;
                    height:10%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    .img-one{
                        width: 35px;
                        height: 35px;
                    }
                }
                .icon-two{
                    width:10%;
                    height:10%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    .img-two{
                        width: 35px;
                        height: 35px;
                    }
                }
                .dropdown{
                    width: 30%;
                    height:10%;
                    font-family: Montserrat;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    .dropdown-box{
                        width: 366px;
                        height: 35px;
                        background: #FFFFFF;
                        border: 1px solid #EFEFEF;
                        box-sizing: border-box;
                        border-radius: 8px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                         color: #222222;
                    }
                }
            }
            }
            .calender-content{
                width: 100%;
                height:75%;
                display: flex;
                .calender-items{
                    width: 95%;
                    height:92%;
                    overflow-x: scroll;
                    .numbers-div{
                        width: 2350px;
                        height: 10%;
                        display: flex;
                   .numbers{
                    width: 20px;
                    height: 100%;
                    margin-left:60px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    color: #222222;
                    opacity: 0.4;
                    cursor: pointer;
                    
                   }
                   .selectednumbers{
                   cursor: pointer;
                    width: 54px;
                    height: 58px;
                    padding: 0px 20px 0 20px;
                    border-radius: 8px;
                    margin-left:60px;
                    margin-top:1px;
                    font-family: Montserrat;
                    opacity:2;
                    font-style: normal;
                    font-weight: normal;
                    text-align: center;
                    font-size: 20px;
                    line-height: 55px;
                    background-color:black;
                    color: #FFFFFF;
                   }
                }
                .numbers-body{
                    width: 2350px;
                    height: 90%;
                    top:0;
                    bottom: 0;
                    right:0;
                    left:0;
                    display: flex;
                    position: relative;
                   p{
                    width: 100%;
                    height: 100%;
                    // margin-left:75px;
                    position: relative;
                    z-index: -1;
                    color: #222222;
                    border-right: 1px dashed #222222;
                    opacity: 0.4;
                   }
                   .progress-container{
                    width: 79%;
                    height:75%;
                    top:20%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: absolute;
                    z-index: -1;
                    .progress-content{
                        width: 100%;
                        height: 40px;
                        display: flex;
                    .progress {
                        // margin:20% 0 auto 0;
                        padding:0;
                        width: 698px;
                        height: 40px;
                        overflow:hidden;
                        background:#E1E7F1;
                        border-radius:6px;
                        transform: translateX(2*70px);
                      }
                      
                      .bar {
                        position:relative;
                        float:left;
                        min-width:1%;
                        height:100%;
                        background:#3760A2;
                        border-radius:6px;
                        .bar-txt{
                            padding-left:10%;
                        .inside-txt{
                               position:absolute;
                               display: contents;
                                transform:translate(-50%,-50%);
                                margin:0;
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 40px;
                                color:white;
                        }
                    }
                        .img1{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:140%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2019/04/26/17/33/happy-4158123_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .img2{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:130%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2017/08/15/16/28/portrait-2644622_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                      }
                    }
                    .progress-content2{
                        width: 100%;
                        height: 40px;
                        padding-top:20px;
                        display: flex;
                      .progress2 {
                        padding:0;
                        width: 698px;
                        height: 40px;
                        overflow:hidden;
                        background:#E1E7F1;;
                        border-radius:6px;
                        transform: translateX(5*70px);
                      
                      }
                      
                      .bar2 {
                        position:relative;
                        float:left;
                        min-width:1%;
                        height:100%;
                        background:#3760A2;
                        border-radius:6px;
                        .bar2-txt{
                            padding-left: 10%;
                        .inside-txt2{
                            position:absolute;
                            display: contents;
                                transform:translate(-50%,-50%);
                                margin:0;
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 40px;
                                color:white;
                        }
                    }
                        .img3{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:140%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2019/04/26/17/33/happy-4158123_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .img4{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:130%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2017/08/15/16/28/portrait-2644622_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .img5{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:120%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2019/04/26/17/33/happy-4158123_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                      }
                    }
                    .progress-content3{
                        width: 100%;
                        height: 40px;
                        padding-top:20px;
                        display: flex;
                      .progress3 {
                        padding:0;
                        width: 598px;
                        height: 40px;
                        overflow:hidden;
                        background:#E1E7F1;;
                        border-radius:6px;
                        transform: translateX(3*70px);
                      }
                      
                      .bar3 {
                        position:relative;
                        float:left;
                        min-width:1%;
                        height:100%;
                        background:#2B65F0;
                        border-radius:6px;
                        .bar3-txt{
                            padding-left: 10%;
                        .inside-txt3{
                            position:absolute;
                            display:contents;
                                transform:translate(-50%,-50%);
                                margin:0;
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 40px;
                                color:white;
                        }
                    }
                        .img6{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:140%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2019/04/26/17/33/happy-4158123_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .img7{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:130%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2017/08/15/16/28/portrait-2644622_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                      }
                      .progress-content4{
                        width: 100%;
                        height: 40px;
                        padding-top:20px;
                        display: flex;
                        .progress4 {
                        padding:0;
                        width: 598px;
                        height: 40px;
                        overflow:hidden;
                        background:#E1E7F1;;
                        border-radius:6px;
                        transform: translateX(4*70px);
                      }
                      
                      .bar4 {
                        position:relative;
                        float:left;
                        min-width:1%;
                        height:100%;
                        background:#46B857;
                        border-radius:6px;
                        .bar4-txt{
                            padding-left: 10%;
                        .inside-txt4{
                            position:absolute;
                            display:contents;
                                transform:translate(-50%,-50%);
                                margin:0;
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 40px;
                                color:white;
                        }
                    }
                        .img8{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:140%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2019/04/26/17/33/happy-4158123_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .img9{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:130%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2017/08/15/16/28/portrait-2644622_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .img10{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:120%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2019/04/26/17/33/happy-4158123_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                      }
                      .progress-content5{
                        width: 100%;
                        height: 40px;
                        padding-top:20px;
                        display: flex;
                      .progress5 {
                        padding:0;
                        width: 598px;
                        height: 40px;
                        overflow:hidden;
                        border-radius:6px;
                        transform: translateX(2*70px);
                      }
                      
                      .bar5 {
                        position:relative;
                        float:left;
                        min-width:1%;
                        height:100%;
                        background:#46B857;
                        border-radius:6px;
                        .bar5-txt{
                            padding-left: 10%;
                        .inside-txt5{
                            position:absolute;
                            display: contents;
                                transform:translate(-50%,-50%);
                                margin:0;
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 40px;
                                color:white;
                        }
                    }
                      }
                      .progress6 {
                        padding:0;
                        width: 598px;
                        height: 40px;
                        overflow:hidden;
                        background:#E1E7F1;;
                        border-radius:6px;
                      }
                      
                      .bar6 {
                        position:relative;
                        float:left;
                        min-width:1%;
                        height:100%;
                        background:#46B857;
                        border-radius:6px;
                        .bar6-txt{
                            padding-left:10%;
                        .inside-txt6{
                            position:absolute;
                                display: contents;
                                transform:translate(-50%,-50%);
                                margin:0;
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 40px;
                                color:white;
                        }
                    }
                        .img11{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:140%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2019/04/26/17/33/happy-4158123_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .img12{
                            position: absolute;
                            width: 25px;
                            height: 25px;
                            left:130%;
                            border-radius: 50%;
                            top:20%;
                            background-image: url("https://cdn.pixabay.com/photo/2017/08/15/16/28/portrait-2644622_960_720.jpg");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                      }
                    }
                      
                }
                 
                }
                
                
                   .calender-card-div{
                    position: absolute;
                    width: 79%;
                    height: 35%;
                    top: 58%;
                    display: flex;
                   .calender-card-left{
                    width: 75%;
                    height: 100%;
                   }
                   .calender-card-right{
                    position: relative;
                    width: 27%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    .calender-card{
                        position: absolute;
                        width: 60%;
                        height: 90%;
                        background: #152231;
                        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
                        border-radius: 16px;
                        .card-content{
                            width:90%;
                            height:100%;
                            .card-head{
                                width:100%;
                                height:20%;
                                display:flex;
                                .cardhead-left{
                                    width:80%;
                                    height:100%;
                                    display: flex;
                                    justify-content: center;
                                    align-content: center;
                                    align-items: center;
                                    .left-txt{
                                        font-family: Montserrat;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 12px;
                                        line-height: 22px;
                                         color: #FFFFFF;
                                    }
                                }
                                .cardhead-right{
                                    width:20%;
                                    height:100%;
                                    display: flex;
                                    justify-content: center;
                                    align-content: center;
                                }
                            }
                            .line{
                                width:110%;
                                display:flex;
                                justify-content: center;
                                align-items: center;
                                align-content: center;
                                margin-top:-5%;
                                hr{
                                    width:80%;
                                    opacity: 0.3;
                                    border: 1px solid #FFFFFF;
                                }
                            }

                            .card-middle{
                                width:110%;
                                height:25%;
                                .card-middle-div{
                                    width:100%;
                                    height:25%;
                                    display:flex;
                                .card-middle-txt{
                                    width:50%;
                                    height:10%;
                                    display: flex;
                                    justify-content: center;
                                    align-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    .card-middle-p{
                                        font-family: Montserrat;
                                        font-style: normal;
                                        font-weight: normal;
                                        padding-top:50%;
                                        font-size: 12px;
                                        line-height: 22px;
                                        color: #FFFFFF;
                                    }
                                }
                                .progress-txt{
                                    width:20%;
                                    width: 25px;
                                    height: 22px;
                                    padding-top:2%;
                                    font-family: Montserrat;
                                    font-style: normal;
                                    font-weight: 100;
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: #FFFFFF;
                                    float:right;
                                  }
                                }
                            .card-middle-progress{
                                width:100%;
                                height:10%;
                                padding-top:10%;
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                align-items: center;
                                .progress{
                                  width:90%;
                                  height: 7px;
                                }
                            }
                            }
                            .card-bottom{
                                width:100%;
                                height:60%;
                                display:flex;
                                align-content: center;
                                flex-direction: column;
                                .line-one{
                                    width:100%;
                                    height:10%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    align-content: center;
                                    .checkbox1{
                                        width:20%;
                                        padding-left:10%;
                                    }
                                    .checkbox1-text1{
                                          width:80%;
                                      
                                          h5{
                                            font-family: Montserrat;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 11px;
                                            line-height: 20px; 
                                            color: #FFFFFF;
                                            opacity: 0.5;
                                          }
                                    }
                                    .checkbox1-text2{
                                        width:80%;
                                               h5{
                                            font-family: Montserrat;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 11px;
                                            line-height: 20px; 
                                            color: #FFFFFF;
                                            opacity: 0.5;
                                          }
                                    }
                                }
                                    .line-two{
                                        width:100%;
                                        height:10%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        align-content: center;
                                        padding-top:10%;
                                    .checkbox2{
                                        width:20%;
                                        padding-left:10%;
                                    }
                                    .checkbox2-text1{
                                          width:80%;
                                      
                                         h5{
                                            font-family: Montserrat;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 11px;
                                            line-height: 20px; 
                                            color: #FFFFFF;
                                            opacity: 0.5;
                                          }
                                    }
                                    .checkbox2-text2{
                                        width:80%;
                                              h5{
                                            font-family: Montserrat;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 11px;
                                            line-height: 20px; 
                                            color: #FFFFFF;
                                            opacity: 0.5;
                                          }
                                    }
                                }
                                .line-three{
                                    width:100%;
                                    height:10%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    align-content: center;
                                    padding-top:10%;
                                .checkbox3{
                                    width:20%;
                                    padding-left:10%;
                                }
                                .checkbox3-text1{
                                      width:80%;
                                  
                                     h5{
                                        font-family: Montserrat;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 11px;
                                        line-height: 20px; 
                                        color: #FFFFFF;
                                        opacity: 0.5;
                                      }
                                }
                                .checkbox3-text2{
                                    width:80%;
                                          h5{
                                        font-family: Montserrat;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 11px;
                                        line-height: 20px; 
                                        color: #FFFFFF;
                                        opacity: 0.5;
                                      }
                                }
                            }
                            .line-four{
                                width:100%;
                                height:10%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                align-content: center;
                                padding-top:10%;
                            .checkbox4{
                                width:20%;
                                padding-left:10%;
                            }
                            .checkbox4-text1{
                                  width:80%;
                              
                                 h5{
                                    font-family: Montserrat;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 11px;
                                    line-height: 20px; 
                                    color: #FFFFFF;
                                    opacity: 0.5;
                                  }
                            }
                            .checkbox4-text2{
                                width:80%;
                                      h5{
                                    font-family: Montserrat;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 11px;
                                    line-height: 20px; 
                                    color: #FFFFFF;
                                    opacity: 0.5;
                                  }
                            }
                        }
                            }
                        }
                    }
                   }
                   }
                }
                .calender-items::-webkit-scrollbar {
                    display: none;
                }
            }
        }
        
    }
}

@media (max-width:1500px){

    .calender-card{
        position: absolute;
        width: 70% !important;
        height: 100% !important;
        background: #152231;
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
    .left-txt{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 10px !important;
        line-height: 18px !important;
         color: #FFFFFF;
    }
    .progress-txt{
        width:20%;
        width: 25px;
        height: 22px;
        padding-top: 0% !important;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 100;
        font-size: 12px !important;
        line-height: 16px !important;
        color: #FFFFFF;
        float:right;
      }
 
    .line-one{
        width:100%;
        height:10%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        .checkbox1{
            width:20%;
            padding-left:10%;
        }
        .checkbox1-text1{
              width:80%;
          
              h5{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 9px !important;
                line-height: 12px !important; 
                color: #FFFFFF;
                opacity: 0.5;
              }
        }
        .checkbox1-text2{
            width:80%;
                   h5{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 9px !important;
                line-height: 12px !important; 
                color: #FFFFFF;
                opacity: 0.5;
              }
        }
    }
  .line-two{
      width:100%;
      height:10%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding-top:10%;
  .checkbox2{
      width:20%;
      padding-left:10%;
  }
  .checkbox2-text1{
        width:80%;
    
       h5{
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 9px !important;
          line-height: 12px !important; 
          color: #FFFFFF;
          opacity: 0.5;
        }
  }
  .checkbox2-text2{
      width:80%;
            h5{
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 9px !important;
          line-height: 12px !important; 
          color: #FFFFFF;
          opacity: 0.5;
        }
  }
}
.line-three{
  width:100%;
  height:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top:10%;
.checkbox3{
  width:20%;
  padding-left:10%;
}
.checkbox3-text1{
    width:80%;

   h5{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 9px !important;
      line-height: 12px !important; 
      color: #FFFFFF;
      opacity: 0.5;
    }
}
.checkbox3-text2{
  width:80%;
        h5{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 9px !important;
      line-height: 12px !important; 
      color: #FFFFFF;
      opacity: 0.5;
    }
}
}
.line-four{
width:100%;
height:10%;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
padding-top:10%;
.checkbox4{
width:20%;
padding-left:10%;
}
.checkbox4-text1{
width:80%;

h5{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 9px !important;
  line-height: 12px !important; 
  color: #FFFFFF;
  opacity: 0.5;
}
}
.checkbox4-text2{
width:80%;
    h5{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 9px !important;
  line-height: 12px !important; 
  color: #FFFFFF;
  opacity: 0.5;
}
}
}
}
}

@media (max-width:1700px){

    .calender-card{
        position: absolute;
        width: 70% !important;
        height: 100% !important;
        background: #152231;
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
    .left-txt{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 10px !important;
        line-height: 18px !important;
         color: #FFFFFF;
    }
    .progress-txt{
        width:20%;
        width: 25px;
        height: 22px;
        padding-top: 0% !important;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 100;
        font-size: 12px !important;
        line-height: 16px !important;
        color: #FFFFFF;
        float:right;
      }
 
    .line-one{
        width:100%;
        height:10%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        .checkbox1{
            width:20%;
            padding-left:10%;
        }
        .checkbox1-text1{
              width:80%;
          
              h5{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 9px !important;
                line-height: 12px !important; 
                color: #FFFFFF;
                opacity: 0.5;
              }
        }
        .checkbox1-text2{
            width:80%;
                   h5{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 9px !important;
                line-height: 12px !important; 
                color: #FFFFFF;
                opacity: 0.5;
              }
        }
    }
  .line-two{
      width:100%;
      height:10%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding-top:10%;
  .checkbox2{
      width:20%;
      padding-left:10%;
  }
  .checkbox2-text1{
        width:80%;
    
       h5{
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 9px !important;
          line-height: 12px !important; 
          color: #FFFFFF;
          opacity: 0.5;
        }
  }
  .checkbox2-text2{
      width:80%;
            h5{
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 9px !important;
          line-height: 12px !important; 
          color: #FFFFFF;
          opacity: 0.5;
        }
  }
}
.line-three{
  width:100%;
  height:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top:10%;
.checkbox3{
  width:20%;
  padding-left:10%;
}
.checkbox3-text1{
    width:80%;

   h5{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 9px !important;
      line-height: 12px !important; 
      color: #FFFFFF;
      opacity: 0.5;
    }
}
.checkbox3-text2{
  width:80%;
        h5{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 9px !important;
      line-height: 12px !important; 
      color: #FFFFFF;
      opacity: 0.5;
    }
}
}
.line-four{
width:100%;
height:10%;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
padding-top:10%;
.checkbox4{
width:20%;
padding-left:10%;
}
.checkbox4-text1{
width:80%;

h5{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 9px !important;
  line-height: 12px !important; 
  color: #FFFFFF;
  opacity: 0.5;
}
}
.checkbox4-text2{
width:80%;
    h5{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 9px !important;
  line-height: 12px !important; 
  color: #FFFFFF;
  opacity: 0.5;
}
}
}
}
}