.home-section1-navbar{
    width:100%;
    height: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section1-navbar-none{
    display: none;
}
.navbar-left{
 width:45%;
 display: flex;
 align-items: center;
}
.logoimg{
    width: 200px;
    height:100px;
    margin-left: 60px;
}

.navbar-right{
 width:55%;
 display: flex;
 align-items: center;
}
.navbar-right a{
color:#18191D;
text-decoration: none;
width: 90px;
height: 7px;
top: 42px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
display: flex;
text-align: center;
align-items: center;
padding-right:75px;
&.active{
    font-weight: bolder;
}
}
.navbar-right-btnone{
width: 101px;
height: 35px;
left: 1146px;
top: 28px;
background: #18191D;
border: 1px solid #18191D;
box-sizing: border-box;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.navbar-right-btntwo{
width: 133px;
height: 35px;
margin-left: 2%;
top: 28px;
background: #FFFFFF;
border: 1px solid #18191D;
box-sizing: border-box;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
align-items: center;
text-align: center;
color: #18191D;
margin-right: 2%;
}
.home-section1-navbarmbl{
    display: none;
}
.home-section1-navbarmbltwo{
    display: none;
}
.home-section1-navbarmblnone{
    display:none;
}
.home-section1-navbarnonembl{
    display:none;
}
@media (min-width: 767px) {
.home-section1-navbarmbl{
    display: none !important ;
 }
.home-section1-navbarmbltwo{
    display: none !important ;
}
}

@media (max-width: 1150px) {
    .navbar-right{
        width:70%;
        margin-left:20%;
       }
       .navbar-right a{
       color:#18191D;
       width: 90px;
       height: 7px;
       top: 42px;
       font-family: Montserrat;
       font-style: normal;
       font-weight: 600;
       font-size: 18px;
       align-items: center;
       text-align: center;
       padding-right:65px;
       }
       .navbar-right-btnone{
       width: 90px;
       height: 35px;
       left: 1146px;
       top: 28px;
       background: #18191D;
       border: 1px solid #18191D;
       box-sizing: border-box;
       font-family: Montserrat;
       font-style: normal;
       font-weight: bold;
       font-size: 16px;
       line-height: 16px;
       align-items: center;
       text-align: center;
       color: #FFFFFF;
       }
       
       .navbar-right-btntwo{
       width: 113px;
       height: 35px;
       margin-left: 10px;
       top: 28px;
       background: #FFFFFF;
       border: 1px solid #18191D;
       box-sizing: border-box;
       font-family: Montserrat;
       font-style: normal;
       font-weight: bold;
       font-size: 16px;
       line-height: 16px;
       align-items: center;
       text-align: center;
       color: #18191D;
       }
}

@media (max-width: 1500px) {
    .logoimg{
        width: 150px;
        height:70px;
        margin-left: 60px;
    }
    .navbar-right{
        width:70%;
        margin-left:15%;
       }
       .navbar-right a{
        color:#18191D;
        padding-right:5%;
        }
}


@media (max-width: 768px) {
.navbar-cross{
    font-size:50px;
    font-style: normal;
    width: 100%;
    padding-left:5%;
    font-weight: 600;
}

    .home-section1-navbarmbl{
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex !important;
        flex-direction: column;
        right: 0;
        width:100%;
        height: 100%;
        background-color: #FFFFFF;
        border-bottom: 1px solid #E5E5E5;
        align-items: center;
    }
    .home-section1-navbarmblnone{
        display:none;
    }
    .home-section1-navbarnonembl{
        display:none;
    }
    .home-section1-navbar{
        display: none;
    }

           .logoimgmbl{
               width: 70px;
               height:75px;
               display: flex;
               justify-content: center;
           }

           .navbar-rightmbl{
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top:10%;
           }
           .navbar-rightmbl a{
           color:#18191D;
           font-family: Montserrat;
           font-style: normal;
           padding-bottom: 10%;
           font-weight: 600;
           font-size: 25px;
           align-items: center;
           text-align: center;
           text-decoration: none;
           }
           .navbar-right-btnonembl{
           width: 200px;
           height: 45px;
           margin:15% auto 5% auto;
           background: #18191D;
           border: 1px solid #18191D;
           box-sizing: border-box;
           font-family: Montserrat;
           font-style: normal;
           font-weight: bold;
           font-size: 16px;
           line-height: 16px;
           align-items: center;
           text-align: center;
           color: #FFFFFF;
           }
         
           .navbar-right-btntwombl{
            width: 200px;
            height: 45px;
           background: #FFFFFF;
           border: 1px solid #18191D;
           margin:0 auto 10% auto;
           box-sizing: border-box;
           font-family: Montserrat;
           font-style: normal;
           font-weight: bold;
           font-size: 16px;
           line-height: 16px;
           align-items: center;
           text-align: center;
           color: #18191D;
           }    

           .navbar-crosstwo{
            font-size:50px;
            font-style: normal;
            padding-left:5%;
            font-weight: 600;
        }
        
            .home-section1-navbarmbltwo{
                width:100%;
                height: 100%;
                background-color: #FFFFFF;
                border-bottom: 1px solid #E5E5E5;
                align-items: center;
                justify-content: space-between;
                display: flex !important;
            }
        
                   .logoimgmbltwo{
                       width: 35px;
                       height:50px;
                      margin: 0 47% 0 auto;
                   }
           

}